<po-accordion>

  <po-accordion-item p-label="Itens">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <po-accordion>

      <po-accordion-item p-label="Sub-Itens">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </po-accordion-item>

    </po-accordion>
  </po-accordion-item>

  <po-accordion-item p-label="Produtos">
    In rhoncus condimentum elit, egestas efficitur orci tincidunt a. Etiam ut neque

    <po-accordion>

      <po-accordion-item p-label="Mais Vendidos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </po-accordion-item>

    </po-accordion>
  </po-accordion-item>

</po-accordion>